@import "@/scss/variables";
@import "@/scss/global";

header {
    grid-area: header;

    nav {
        height: 100%;
        background-color: $barColor;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        grid-template-areas: "logo menu filter";
        padding: 5px 100px;

        @media (max-width: $breakpoint) {
            gap: 10px;
            padding: 5px 20px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
                "logo"
                "menu"
                "filter";
        }

        .logo {
            text-transform: uppercase;
            grid-area: logo;
            @extend .center-y;
            font-size: 20px;
            font-weight: bolder;
        }

        .menu {
            text-transform: uppercase;
            grid-area: menu;
            gap: 20px;
            @extend .center-y;
            @extend .flex-row;
            justify-content: flex-end;
        }

        .filter {
            text-transform: uppercase;
            grid-area: filter;
            @extend .center-y;

            .input-filter {
                width: 100%;
                position: relative;

                input {
                    padding: 10px 60px 10px 15px;
                    border-radius: 20px;
                    border: none;
                    width: 100%;
                }

                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 50px;
                    height: 100%;
                    right: 0;
                    top: 0;
                    background-image: url("../../../public/assets/images/search.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 50%;
                }
            }

            @media (max-width: $breakpoint) {
                margin-bottom: 20px;
            }
        }
    }
}
