@import "@/scss/variables";
@import "@/scss/global";

.news-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    @media (max-width: $breakpoint) {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .card {
        @extend .flex-col;
        @extend .card;

        b {
            margin-bottom: 20px;
        }

        span {
            margin-bottom: 50px;
        }

        .card-footer {
            margin-top: auto;
            @extend .flex-row;
            @extend .center-x;
            @extend .center-y;
            button {
                flex: 1;
            }
        }
    }
}

.crud-modal {
    @extend .overlay;
    padding: 20px 100px;
    @media (max-width: $breakpoint) {
        padding: 20px 30px;
    }
    @extend .center-y;
    @extend .center-x;

    .card {
        @extend .card;
        width: $breakpoint;

        @media (max-width: $breakpoint) {
            width: 90%;
        }

        form {
            @extend .flex-col;
            gap: 10px;
            padding-bottom: 30px;
            div {
                @extend .flex-col;

                label {
                    margin-bottom: 5px;
                }
            }
        }

        .card-footer {
            margin-top: auto;
            @extend .flex-row;
            @extend .center-x;
            @extend .center-y;
            gap: 10px;

            button {
                flex: 1;

                &.danger {
                    background-color: $dangerColor;
                }
            }
        }
    }
}
