@import "./variables";

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

h5 {
    font-size: 1.3rem;
    margin: 0;
}

.center-y {
    display: flex;
    align-items: center;
}

.center-x {
    display: flex;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.5s;

    &:hover {
        transform: scale(1.03);
    }
}

body {
    margin: 0;
    background-color: $bgColor;
}

button {
    background-color: $barColor;
    padding: 10px 30px;
    border-radius: 10px;
    border: unset;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
        filter: brightness(0.9);
    }
}

.pagination {
    padding: 10px 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: $breakpoint) {
        justify-content: center;
    }
    span.relative.z-0.inline-flex.shadow-sm.rounded-md {
        display: none;
    }

    .hidden {
        display: none;
    }

    nav div {
        display: flex;
        gap: 20px;
        * {
            display: none;
        }
        a {
            display: block;
        }
    }
}

.overlay {
    position: fixed;
    background-color: #0000003b;
    inset: 0;
    margin: 0;
    z-index: 1;
    display: flex;
    overflow-y: auto;
}

.card {
    @extend .flex-col;
    gap: 10px;
    background-color: white;
    border: 1px solid $barColor;
    border-radius: 10px;
    padding: $paddingCard;
    @media (max-width: $breakpoint) {
        padding: $paddingMobileCard;
    }
}
